.container {
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  background: #2F3034;
}
.graphContainer {
  color: rgba(147, 152, 159, 0.84);
  font-style: italic;
  margin-top: 20px;
}
.__________cytoscape_container{
  background: #212121 !important;
}
.infoText {
  text-align: center;
  width: 100%;
}
// Handle the container margin/padding in diff device resolution

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 100vw !important;
  }
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
    max-width: 100vw !important;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 100vw !important;
  }
}